{% extends "base.html" %}
{% load static %}

{% block encabezado %}
{% if user.is_authenticated and perms.mi_aplicacion.add_maestro %}
<a href="{% url 'maestros_alta' %}"><img src="{% static 'images/icons8-plus-32.png' %}" /></a>
{% endif %}
{% endblock %}

{% block filtros %}
<form method="post">
  {% csrf_token %}
  <div class="w3-row-padding w3-margin-top">
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="nombre" placeholder="Nombre" value="{{ request.GET.nombre }}">
    </div>
    <div class="w3-third">
      <select class="w3-select w3-border" name="escuela">
        <option value="0">Todas las escuelas</option>
        {% for escuela in escuelas %}
        <option value="{{ escuela.id }}" 
        {% if request.GET.escuela == escuela.id|stringformat:"s" %}selected{% endif %}>{{ escuela.siglas }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="w3-third">
      <button class="w3-button w3-teal" type="submit">Filtrar</button>
    </div>
  </div>
</form>

{% endblock %}

{% block contenido %}
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-dark-grey">
        <th>Acciones</th>
        <th>Nombre</th>
        <th>Escuela</th>
        <th>Sexo</th>
        <th>Fecha de Nacimiento</th>
      </tr>
    </thead>
    {% for maestro in maestros %}
    <tr>
      <td>{% if user.is_authenticated and perms.mi_aplicacion.delete_maestro %}<a href="{% url 'maestros_eliminar' maestro.id %}"><img src="{% static 'images/icons8-trash-32.png' %}" alt="Eliminar" /></a>{% endif %} {% if user.is_authenticated and perms.mi_aplicacion.change_maestro %}<a href="{% url 'maestros_editar' maestro.id %}"><img src="{% static 'images/icons8-edit-32.png' %}" alt="Editar" /></a>{% endif %}</td>
      <td>{{ maestro.nombre }}</td>
      <td>{{ maestro.escuela.siglas }}</td>
      {% if maestro.sexo == 2 %}
        <td>Hombre</td>
      {% elif maestro.sexo == 1 %}
        <td>Mujer</td>
      {% else %}
        <td>Otro</td>
      {% endif %}      
      <td>{{ maestro.fecha_nacimiento }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
