{% extends "base.html" %}
{% load static %}

{% block encabezado %}
{% if user.is_authenticated and perms.auth.add_user %}
<a href="{% url 'usuario_alta' %}"><img src="{% static 'images/icons8-plus-32.png' %}" /></a>
{% endif %}
{% endblock %}

{% block filtros %}

{% endblock %}

{% block contenido %}
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-dark-grey">
        <th>Acciones</th>
        <th>username</th>
        <th>Nombre</th>
        <th>Activo</th>
      </tr>
    </thead>
    {% for usuario in usuarios %}
    <tr>
      <td>
        {% if user.is_authenticated and perms.auth.delete_user %}
          <a href="{% url 'usuario_eliminar' usuario.id %}"><img src="{% static 'images/icons8-trash-32.png' %}" alt="Eliminar" /> </a>
        {% endif %} 
        {% if user.is_authenticated and perms.auth.change_user %}
          <a href="{% url 'maestros_editar' usuario.id %}"><img src="{% static 'images/icons8-edit-32.png' %}" alt="Editar" /></a>
        {% endif %}
      </td>
      <td>{{ usuario.username }}</td>
      <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>  
      <td>{{ usuario.is_active }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
